::-webkit-scrollbar {
    background-color: transparent;
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--brand);
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}