<label class="dot-picker-label" (click)="openPicker()" [class.compact]="compact()">
    <span class="dot-label-text" #labelText>
        {{ label() }}
    </span>

    <span class="dot-label-icon">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
            <line x1="16" y1="2" x2="16" y2="6"></line>
            <line x1="8" y1="2" x2="8" y2="6"></line>
            <line x1="3" y1="10" x2="21" y2="10"></line>

            <path d="M18 14l2 2-2 2" stroke-width="1.5"></path>
        </svg>
    </span>
    
    @if (withRange()) {
        <mat-date-range-input [rangePicker]="rangePicker()!">
            <input 
                type="button" 
                readonly 
                matStartDate
                [min]="minDate()"
                [max]="maxDate()"
                (dateChange)="onDateChange($event)"
            >

            <input type="button" 
                class="end-date"
                readonly 
                matEndDate
                [min]="minDate()"
                [max]="maxDate()"
                (dateChange)="onDateChange($event)"
            >
        </mat-date-range-input>
    } @else {
        <input 
            type="button" 
            readonly
            [value]="selectedDate()"
            [min]="minDate()"
            [max]="maxDate()"
            [matDatepicker]="singlePicker()!" 
            (dateChange)="onDateChange($event)"
        >
    }

    @if (withRange()) {
        <mat-date-range-picker [touchUi]="isMobile()" #rangePicker />
    } @else {
        <mat-datepicker [touchUi]="isMobile()" #picker />
    }
</label>