.sidenav-first-layer {
    position: relative;

    .sidenav-menuList-first-layer {
        position: fixed;
        bottom: 0;
        left: 80px;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 1rem);
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 993;
        opacity: 0;
        pointer-events: none;
        scrollbar-width: 4px;

        header {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                width: 100%;
                display: flex;
                align-items: center;

                a {
                    width: 100%;
                    font-size: 1.1rem;
                    font-weight: 600;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }

        main {

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 0;

                .subItemLink, .subItem {
                    position: relative;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    z-index: 1000;
                    cursor: pointer;
                    user-select: none;

                    &::after {
                        position: absolute;
                        top: 0;
                        right: -40px;
                        width: 90px;
                        height: 100%;
                        content: '';
                        z-index: 1000;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }
                }

                .subItemLink {
                    cursor: pointer;
                }

                .subItem {
                    cursor: default;
                }
            }
        }
    }

    // .animationScroll {
    //     position: sticky ;
    //     bottom: 40px;
    //     margin-left: -25px;
    //     width: min-content;
    //     background-color: transparent;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: start;
    //     justify-content: end;
    //     z-index: 700;
    //     opacity: 1;
    //     transition: opacity 300ms ease-in-out;

    //     color: var(--brand);

    //     i {
    //         position: relative;
    //         font-size: large;
    //         opacity: 0;

    //         &:first-child {
    //             animation: scrollDown 2.5s ease-in-out infinite 0ms;
    //         }

    //         &:nth-child(2) {
    //             animation: scrollDown 2.5s ease-in-out infinite 150ms;
    //         }

    //         &:last-child {
    //             animation: scrollDown 2.5s ease-in-out infinite 300ms;
    //         }
    //     }

    //     &.stopAnimation {
    //         opacity: 0;
    //     }
    // }

    &.show {
        .sidenav-menuList-first-layer {
            opacity: 1;
            pointer-events: all;
            transform: translateX(10px);
        }

        .sidenav-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            height: 100dvh;
            width: 100vw;
            width: 100dvw;
            z-index: 190;
        }
    }
}

@keyframes scrollDown {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.active {
    * {
        color: var(--brand) !important;
        font-weight: 600 !important;
    }
}