section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-header {
    justify-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0;
}

tbody tr.unavailable > td{
    opacity: .5;
}