:host {
    display: contents;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    // position: sticky;
    // bottom: 0;
    // left: 0;
    justify-content: space-between;
    width: 100%;

    .pages {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        .active {
            background-color: var(--brand);
            color: var(--default-light);
        }
    }
}