:host {
    display: contents
}

#nav-header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--sidebar-width-close));
    // width: 100%;
    height: min-content;
    background-color: var(--background-2);
    z-index: 980;
    // border-radius: 0 0 1.5rem 1.5rem;

    transition: width var(--animation-duration-default) ease-in-out;

    &.mobile {
        width: 100%;
        padding: 0;
    }

    .nav-header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 2rem 1.5rem;
        height: var(--nav-height);
        z-index: 1000;
        background-color: transparent;

        transition: background-color var(--animation-duration-short) ease-in-out;

        @media (max-width: 1160px) {
            padding-inline: .5rem;
        }

        &.show-background {
            background-color: var(--background-3);
            border-bottom: 1px solid var(--border-very-light);
        }

        svg {
            width: 1.5rem;
            height: auto;

            rect:first-child {
                fill: transparent;
            }

            g {
                fill: var(--text);
            }

            &.open {
                rect:first-child {
                    fill: var(--text);
                }
            }
        }

        .nav-header-items {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            justify-content: flex-end;

            @media (max-width: 768px) {
                flex-direction: row-reverse;
            }
        }

    }

    &.sidebar-open {
        width: calc(100% - var(--sidebar-width-open));

        &.mobile {
            width: 100%;
            background-color: transparent;

            .nav-header-content {
                border: none;
                background-color: transparent;
            }
        }
    }

}

.empty {
    white-space: nowrap;
    padding: 1rem;
}

.hideOnMobile {
    opacity: 0;
    pointer-events: none;
}

.user-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
    color: light-dark(var(--color-gray-500), var(--color-gray-400));
}