section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .section-header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2rem;

        @media (max-width: 768px) {
            align-items: center;
            gap: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .section-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0.5rem;
    }
    
    
}

td.center {
    text-align: center;
}

.text-muted {
    color: var(--text-light);
}
